@font-face {
  font-family: "Founders Grotesk";
  src: url("./fonts/Grotesk\ Light.ttf") format("truetype");
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./fonts/space-grotesk.ttf") format("truetype");
}

#sidebar {
  /* width: 15%; */
  height: 700px;
  background: #eaeaea;
  backdrop-filter: blur(20px);
}

@media screen and (max-width: 845px) {
  #sidebar {
    display: none;
  }
}

@media screen and (min-width: 844.9px) {
  .makeStyles-root-1 {
    display: none !important;
  }
  header.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionFixed.MuiAppBar-colorPrimary.jss2.mui-fixed.MuiPaper-elevation4 {
    display: none !important;
  }
}

.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #3d8f83 !important;
}

.MuiPaper-root.MuiDrawer-paper.makeStyles-drawerPaper-7.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.MuiPaper-elevation0 {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #f5f5f5 !important;
}

.hero-text {
  color: #2a2a2a;
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.nav-link {
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #a6abb2 !important;
  letter-spacing: 0.1px;
}

svg.MuiSvgIcon-root.sidebar-icons {
  font-size: 14px;
  color: #a6abb2;
  margin-right: 0.2rem;
}

a.nav-link.active {
  background: #ffffff;
}

.pl-1 {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.nav-link:focus,
.nav-link:hover,
a.nav-link.active:hover {
  background: #f5f5f5;
}

.sidebar-logo {
  width: 80px;
  height: 30px;
  padding-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

p.h6.balance {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #2a2a2a;
}

.balance-date {
  font-family: "Founders Grotesk";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #a6abb2;
}

#balance-up {
  padding-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

svg.MuiSvgIcon-root.notify-icons {
  font-size: 30px;
  color: #a6abb2;
  margin-right: 0.2rem;
}

.top-logo {
  height: 2.5rem;
  border: 1px solid #ff8377;
  background: #fff3f1;
  margin-left: 1rem;
  padding: 0.5rem;
}

.notify {
  text-align: right;
}

.notify-logo {
  border: 1px solid #f5f5f5;
  background: #f5f5f5;
  border-radius: 10px;
}
span.dot {
  background: #ff0000;
  height: 0.5rem;
  position: absolute;
  right: 4rem;
  margin-top: 2px;
  width: 0.5rem;
  border-radius: 50%;
  margin-right: -4px;
}

.MuiTableCell-head {
  font-family: "Space Grotesk" !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 19px !important;
  letter-spacing: 0.1px !important;
  color: #2a2a2a !important;
}
.MuiTableCell-body {
  font-family: "Founders Grotesk" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px !important;
  line-height: 22px !important;
  /* identical to box height */

  color: #2a2a2a !important;
}

button.mb-2.payout-btn.btn.btn-primary {
  width: 104px;
  height: 42px;

  background: #3d8f83;
  border-radius: 4px;
}
